:root{
    --background_blue: linear-gradient(0deg, #191e39, #9198e5);

    --front_blue: #3d3f49;
    background: var(--background_blue);
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

body{
    padding-inline: 2%;
    padding-bottom: 1%;
    margin: 0;
    margin-bottom: 20px;
}


.frontBlue{
    background-color: var(--front_blue);
    border-radius: 20px;
    box-sizing: border-box;
    padding-inline: 2%;
    padding-block: 1%;
    margin-block: 2%;
    backdrop-filter: blur(5px);
    opacity: 90%;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );
    gap: 2%;
}

.extend{
    display: block;
}

.searchBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.searchBar button{
    width: 30%;
    padding-block: 8px;
    border: outset;
    background-color: #fefefe;
    border-radius: 0 12px 12px 0;
    font: inherit;
}


input{
    border-radius: 12px 0 0 12px;
    padding: 8px;
    width: 60%;
    font:inherit;
}

.searchBar p{
    margin-block: 0;
}

input:hover,
input:focus{
    border: black solid;
}

.weatherMain__wrapper{
    width: 100%;
    display: grid;

}

.weatherMain__todayWrapper, .weekDaysContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main img{
    max-width: 90%; 
}

main > div{
    max-width: 40%;
}

main div:last-child{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > div p{
    font-size: 2em;
}

h2{
    text-align: center;
}

.hourWrapper p:first-child{
   opacity: 0.8;
}

.hourWrapper p:last-child{
    font-size: larger;
 }

h3{
    margin-block: 2px;
}
.controlPanel{
    display: flex;
    justify-content: space-between;
}

.controlPanel button{
    padding: 8px;
    width: 80%;
    font:inherit;
    font-weight: bolder;
    border-radius: 8px;
    border: outset;
}

.controlPanel > p{
    font-size: 1.5em;
}

.controlPanel div{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button:hover{
    filter: brightness(60%);
    border: inset;
}

button:active{
    background: black;
    color:white;
}

.weekDaysContainer{
    padding-block: 20px;
    padding-bottom: 35px;
}
.weekDaysContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li{
    list-style-type: none;
    height: 60%;
    width: 2px;
    background: white;
    opacity: 0.8;
}

.weekDaysContainer li{
    height: 100px;
}

.additionalData{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.additionalData div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additionalData img{
    margin-bottom: 4px;
}

.data{
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 0;
}

.unit{
    opacity: 0.8;
    font-size: 1.5em;
}