:root{
    --background_blue: linear-gradient(0deg, #191e39, #383d74);
    --background_hover: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    --button_color: rgb(77, 77, 145);
    --front_blue: #3d3f49;
    background: var(--background_blue);
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

body{
    margin: 0;
    padding-inline: 16px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

.frontBlue{
    background-color: var(--front_blue);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-block: 16px;
    border-radius: 20px;
}

.searchBar{
    display: flex;
    justify-content: center;
    padding: 8px;
}

input{
    width: 60%;
    padding: 4px 8px;
    border-radius: 20px 0 0 20px;
    font-size: 1.2em;
}

button{
    padding: 4px 8px;
    font-size: 1.2em;
    background-color: var(--button_color);
    color:white;

}

button:hover{
    filter: brightness(75%);
    cursor: pointer;
}

button:active{
    background-color: rgb(24, 24, 24);
}

.searchBar button{
    border-radius: 0 20px 20px 0;
}

.frontBlue:not(.searchBar){
    padding: 8px 16px;
}

h1,h3{
    margin-top: 0;
}

.temperature{
    font-size: 1.8em;
}

main{
    display: grid;
    grid-template-columns: 3fr 4fr;
}

main > div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icon{
    width: 80%;
    max-width: 200px;
}

.forecast_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
}

.forecast_wrapper > div{
    display: flex;
    flex-direction: column;
    align-items: center ;
    border: 1px solid transparent;
    padding-inline: 12px;
}

.forecast_wrapper > div:hover{
    border-inline: 1px solid rgba(255, 255, 255, 0.3);
    background: var(--background_hover);
}

.controlPanel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.controlPanel div{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2%;
}

.controlPanel span{
    opacity: 0.8;
    font-weight: bold;
    font-size: 1.2em;
}

.controlPanel button{
    width: 30%;
    border-radius: 12px
}


b, h4, h2{
    opacity: 0.6;
}

.additionalData{
    justify-content: space-evenly;
}

.additionalData p, .additionalData h4{
    margin: 4px;
    font-size: 1.2em;
    font-weight: bold;
}

.data{
    font-size: 1.5em;
}

.unit{
    opacity: 0.8;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-block: 8px;
    border-radius: 20px;
}


@media (width < 750px) {
    
    h1{
        font-size: 1.5em;
    }

    .temperature{
        font-size: 1.5em;
    }
}

@media (width < 565px){
    .wrapper{
        gap: 0;
    }
    .lastContainer{
        margin-top: -16px;
    }
}

@media (width < 300px) {
    h1, .temperature{
        font-size: 1.2em;
    }
}